In [17]:
import numpy as np
import cv2

In [23]:
dataset = []

def draw(event, x,y, flag, param):
    if event == cv2.EVENT_FLAG_LBUTTON:
        cv2.circle(img, (x,y),3,(255,0,0),2)
        dataset.append((x,y,0))
    elif event == cv2.EVENT_FLAG_RBUTTON:
        cv2.circle(img, (x,y),3,(0,255,0),2)
        dataset.append((x,y,1))

img = np.zeros((500,500,3), np.uint8)
cv2.namedWindow("Window_nor", cv2.WINDOW_NORMAL)
cv2.setMouseCallback("Window_nor", draw)

while True:
    cv2.imshow("Window_nor", img)
    if cv2.waitKey(1) & 255 == ord("q"):
        break 
cv2.destroyAllWindows()

In [24]:
dataset

[(181, 230, 0),
 (197, 216, 0),
 (214, 232, 0),
 (246, 236, 0),
 (241, 218, 0),
 (232, 203, 0),
 (221, 183, 0),
 (201, 183, 0),
 (179, 190, 0),
 (161, 221, 0),
 (163, 243, 0),
 (173, 250, 0),
 (207, 260, 0),
 (229, 275, 0),
 (229, 275, 0),
 (251, 260, 0),
 (262, 213, 0),
 (255, 179, 0),
 (232, 160, 0),
 (209, 153, 0),
 (188, 154, 0),
 (168, 175, 0),
 (143, 206, 0),
 (143, 236, 0),
 (159, 272, 0),
 (184, 283, 0),
 (215, 294, 0),
 (266, 300, 0),
 (275, 267, 0),
 (283, 222, 0),
 (283, 192, 0),
 (285, 151, 0),
 (270, 136, 0),
 (247, 291, 0),
 (231, 247, 0),
 (193, 244, 0),
 (182, 267, 0),
 (168, 287, 0),
 (132, 257, 0),
 (131, 187, 0),
 (152, 153, 0),
 (180, 144, 0),
 (211, 132, 0),
 (228, 137, 0),
 (253, 143, 0),
 (274, 156, 0),
 (121, 227, 0),
 (135, 274, 0),
 (145, 296, 0),
 (152, 307, 0),
 (166, 317, 0),
 (201, 331, 0),
 (223, 335, 0),
 (254, 330, 0),
 (270, 323, 0),
 (286, 310, 0),
 (291, 296, 0),
 (297, 279, 0),
 (302, 251, 0),
 (305, 222, 0),
 (307, 176, 0),
 (302, 200, 0),
 (302, 164, 0),
 (244, 121, 0),
 (210, 121, 0),
 (188, 123, 0),
 (148, 135, 0),
 (116, 163, 0),
 (115, 193, 0),
 (109, 230, 0),
 (188, 303, 0),
 (208, 309, 0),
 (234, 317, 0),
 (281, 242, 0),
 (215, 200, 0),
 (155, 188, 0),
 (115, 253, 0),
 (126, 282, 0),
 (133, 302, 0),
 (152, 322, 0),
 (170, 334, 0),
 (189, 346, 0),
 (214, 350, 0),
 (248, 350, 0),
 (278, 345, 0),
 (287, 331, 0),
 (297, 309, 0),
 (303, 285, 0),
 (317, 249, 0),
 (322, 207, 0),
 (122, 107, 1),
 (142, 103, 1),
 (164, 92, 1),
 (190, 84, 1),
 (223, 76, 1),
 (247, 73, 1),
 (267, 82, 1),
 (299, 101, 1),
 (333, 129, 1),
 (341, 143, 1),
 (353, 176, 1),
 (320, 111, 1),
 (359, 197, 1),
 (359, 228, 1),
 (361, 255, 1),
 (361, 295, 1),
 (341, 332, 1),
 (332, 353, 1),
 (300, 374, 1),
 (269, 385, 1),
 (248, 390, 1),
 (204, 396, 1),
 (171, 390, 1),
 (137, 374, 1),
 (100, 329, 1),
 (90, 295, 1),
 (84, 271, 1),
 (81, 243, 1),
 (83, 206, 1),
 (87, 171, 1),
 (90, 129, 1),
 (101, 113, 1),
 (128, 78, 1),
 (162, 64, 1),
 (194, 58, 1),
 (227, 52, 1),
 (263, 52, 1),
 (283, 54, 1),
 (309, 61, 1),
 (333, 74, 1),
 (350, 97, 1),
 (332, 84, 1),
 (308, 77, 1),
 (277, 40, 1),
 (240, 27, 1),
 (175, 6, 1),
 (195, 21, 1),
 (170, 31, 1),
 (129, 45, 1),
 (115, 56, 1),
 (95, 82, 1),
 (72, 105, 1),
 (72, 145, 1),
 (58, 170, 1),
 (53, 200, 1),
 (53, 246, 1),
 (59, 219, 1),
 (68, 190, 1),
 (67, 133, 1),
 (76, 56, 1),
 (65, 78, 1),
 (52, 103, 1),
 (44, 157, 1),
 (37, 254, 1),
 (38, 322, 1),
 (65, 362, 1),
 (98, 373, 1),
 (96, 399, 1),
 (164, 427, 1),
 (224, 422, 1),
 (289, 431, 1),
 (325, 404, 1),
 (362, 370, 1),
 (413, 302, 1),
 (417, 227, 1),
 (446, 183, 1),
 (456, 143, 1),
 (437, 113, 1),
 (421, 112, 1),
 (391, 113, 1),
 (391, 137, 1),
 (379, 114, 1),
 (394, 92, 1),
 (365, 61, 1),
 (336, 43, 1),
 (421, 143, 1),
 (394, 185, 1),
 (394, 241, 1),
 (443, 294, 1),
 (391, 314, 1),
 (374, 331, 1),
 (399, 363, 1),
 (399, 255, 1),
 (402, 269, 1),
 (443, 245, 1),
 (405, 219, 1),
 (425, 174, 1),
 (383, 163, 1),
 (363, 179, 1),
 (362, 231, 1),
 (352, 281, 1),
 (327, 325, 1),
 (323, 363, 1),
 (309, 401, 1),
 (263, 425, 1),
 (229, 461, 1),
 (201, 453, 1),
 (148, 421, 1),
 (114, 419, 1),
 (153, 408, 1),
 (187, 426, 1),
 (63, 327, 1),
 (61, 293, 1),
 (47, 287, 1),
 (32, 193, 1),
 (41, 131, 1),
 (105, 33, 1),
 (143, 20, 1),
 (286, 21, 1),
 (229, 12, 1),
 (391, 49, 1),
 (417, 79, 1),
 (420, 269, 1),
 (430, 322, 1),
 (425, 363, 1),
 (419, 392, 1),
 (401, 409, 1),
 (371, 415, 1),
 (386, 381, 1),
 (307, 460, 1),
 (335, 432, 1),
 (260, 451, 1),
 (254, 470, 1),
 (185, 484, 1),
 (156, 464, 1),
 (134, 452, 1),
 (130, 391, 1),
 (70, 383, 1),
 (37, 387, 1),
 (37, 351, 1),
 (28, 297, 1),
 (27, 227, 1),
 (27, 167, 1),
 (61, 400, 1),
 (88, 434, 1),
 (110, 456, 1),
 (363, 445, 1),
 (351, 390, 1),
 (406, 335, 1),
 (385, 213, 1),
 (458, 202, 1),
 (432, 204, 1),
 (351, 312, 1),
 (116, 352, 1),
 (131, 357, 1),
 (105, 309, 1),
 (407, 441, 1),
 (349, 477, 1),
 (302, 477, 1),
 (290, 479, 1),
 (261, 488, 1),
 (228, 487, 1),
 (366, 95, 1),
 (362, 135, 1),
 (301, 41, 1),
 (340, 169, 1),
 (356, 157, 1)]

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(dataset)
df

       0    1  2
0    181  230  0
1    197  216  0
2    214  232  0
3    246  236  0
4    241  218  0
..   ...  ... ..
252  366   95  1
253  362  135  1
254  301   41  1
255  340  169  1
256  356  157  1

[257 rows x 3 columns]

In [29]:
df.to_csv(r"C:\Users\hp\Downloads\Data Science Innomatics\DS written notes\Deep_learning\OpenCv_Assignments\data_set_creation.csv")

# Start_From_Here

In [31]:
df = pd.read_csv(r"C:\Users\hp\Downloads\Data Science Innomatics\DS written notes\Deep_learning\OpenCv_Assignments\data_set_creation.csv").drop(columns = "Unnamed: 0")
df.head()

     0    1  2
0  181  230  0
1  197  216  0
2  214  232  0
3  246  236  0
4  241  218  0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       257 non-null    int64
 1   1       257 non-null    int64
 2   2       257 non-null    int64
dtypes: int64(3)
memory usage: 6.1 KB